@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply m-0 box-border bg-primary p-0 font-primary leading-loose text-white; */
    @apply m-0 box-border bg-transparent p-0 font-primary leading-loose text-white;
  }
}
.floating {
  background-image: radial-gradient(#65656d0e 10%, #a1a1a711 10%);
}

.rounded-br-md {
  border-bottom-right-radius: 2vw;
}
.rounded-bl-md {
  border-bottom-left-radius: 0.375rem;
}
